/* RESET */
body {
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    height: auto;
    scroll-behavior: auto;
}

/* Fin Reset */

/* Connexion */
/* Formulaire */
.form-connexion {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 400px;
    border-radius: 20px;
}

.lab-connexion {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.text-connexion {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 1.5s;
}

.text-connexion:hover {
    transition: 1.5s;
    border: 2px solid #333;
}

.connexion[type="submit"] {
    background-color: #333;
    color: #a0a0a0;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 4%;
    transition: 1.5s;
}

.connexion[type="submit"]:hover {
    transition: 1.5s;
    background-color: #a0a0a0;
    color: #333;
}

/* Fin Connexion */

/* Inscription */
.form-inscription {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 3%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 400px;
    border-radius: 20px;
}

.label-inscription {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-inscripion {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 1.5s;
}

.form-inscripion:hover {
    transition: 1.5s;
    border: 2px solid #333;
}

.creer-compte[type="submit"] {
    background-color: #333;
    color: #a0a0a0;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 4%;
    transition: 1.5s;
}

.creer-compte[type="submit"]:hover {
    transition: 1.5s;
    background-color: #a0a0a0;
    color: #333;
}

.ul-connexion {
    list-style: none;
    margin-right: 10%;
    margin-top: 8%;

}

.a-connexion {
    color: #a0a0a0;
    position: relative;
    text-decoration: none;
}

.a-connexion::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #a0a0a0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.a-connexion:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.password {
    font-size: 10px;
}
/* Fin Inscription */

/* Menu */
/* Reset CSS pour le menu */
.menu-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333; /* Couleur de fond légère pour le menu */
    border-bottom: 3px solid #333; 
    box-shadow: 0px -3px 19px 11px #a0a0a0(51,51,51,0.74);
    font-family: 'Arial', sans-serif; /* Police plus moderne */
}

.menu-li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 15px; /* Espacement interne pour rendre les liens plus cliquables */
    position: relative; /* Pour la sous-indication de l'élément actif */
}

.menu-li:last-child {
    margin-right: 0; /* Pour que le dernier élément n'ait pas de marge à droite */
}

.menu-link {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 600; /* Police un peu plus grasse pour la lisibilité */
    transition: color 0.3s; /* Transition en douceur lors du survol */
}

.menu-link:hover,
.menu-link.active {
    color: white; /* gris lorsque survolé ou actif */
}

/* Indication de l'élément de menu actif */
.menu-link.active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%); /* Centrer l'indicateur */
    width: 70%;
    height: 3px;
    background-color: #a0a0a0; /* Même gris que le survol */
}

/* Fin Menu */

/* Template */
.h1 {
    font-size: 40px;
    text-decoration: underline solid;
}

/* Fin Template */

/* Gestion Utilisateur (ADMIN) */
.user-table {
    width: 80%;
    margin-left: 9%;
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-top: 40px;
}

.user-table th,
.user-table td {
    border: 2px solid #ccc;
    text-align: center;
}

.user-table th {
    background-color: #333;
    /* Background couleur des titres */
    color: #fff;
    /* Couleur du texte des titres */
    font-weight: bold;
}

.status-select {
    color: #333;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 35%;
    height: 30px;
    transition: 1s;
}

.status-select:hover {
    border: 1px solid #333;
    color: black;
    transition: 1s;

}

.delete-button {
    color: #333;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    width: 30%;
    height: 30px;
    transition: 1s;
}

.delete-button:hover {
    background-color: #d64641;
    color: #fff;
    transition: 1s;
}

/* Fin Gestion Utilisateur (ADMIN) */

/* Index */
/* Styles pour la table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td, tr {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Style pour la colonne des images */
.img-container {
    width: 160px;
    text-align: center;
}

.img-container img {
    width: 150px;
    height: auto;
    border-radius: 5px; /* pour arrondir les coins de l'image, facultatif */
    transition: transform 0.2s; /* effet zoom au survol, facultatif */
}

.img-container img:hover {
    transform: scale(1.1);
}

/* Styles pour les statuts */
.statut-public {
    color: green;
    font-weight: bold;
}

.statut-prive {
    color: red;
    font-weight: bold;
}

/* Styles pour les liens */
td a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

td a:hover {
    color: #007BFF;
}


/* Fin Index */

/* Mon Compte */
/* Profil utilisateur */
.profil-section {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    /* Ajout de "auto" pour centrer horizontalement */
    background-color: #f9f9f9;
    max-width: 400px;
}

.info {
    font-size: 16px;
    margin-bottom: 10px;
}

#modifierProfilBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: 1.5s;
    margin: 13px;
}

#modifierProfilBtn:hover {
    background-color: #a0a0a0;
    color: #333;
    padding: 15px 30px;
    transition: 1.5s;

}

/* Formulaire caché */
.form-container {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    background-color: #f9f9f9;
    max-width: 400px;
    border-radius: 20px;
}

.form-container.active {
    display: block;
}

.form-container h2 {
    font-size: 20px;
    text-decoration: underline solid;
    margin-bottom: 15px;
}

.form-container form {
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 1.5s;
}

.form-container input[type="text"]:hover {
    transition: 1.5s;
    border: 2px solid #333;

}

.form-container input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 1.5s;
}

.form-container input[type="email"]:hover {
    transition: 1.5s;
    border: 2px solid #333;

}

.form-container input[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: 1.5s;

}

.form-container input[type="submit"]:hover {
    background-color: #333;
    color: #a0a0a0;
    padding: 15px 25px;
    transition: 1.5s;
}

.form-container input[type="submit"]:hover {
    transition: 1.5s;
    background-color: #a0a0a0;
    color: #333;
}

/* Lien mot de passe oublié */
.mot_de_passe_lien {
    color: #a0a0a0;
    cursor: pointer;
    margin-top: 13px;
    position: relative;
    text-decoration: none;
}

.mot_de_passe_lien::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #a0a0a0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.mot_de_passe_lien:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Fin Mon Compte */

/* Mot de passe oublié */
.password-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.password-form h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.password-form label {
    display: block;
    margin-bottom: 5px;
}

.password-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.password-form input[type="submit"]:hover {
    background-color: #555;
}

/* Article */
.ul-article {
    display: flex;
    width: 100%;
    margin: 0 auto;}

.container-article {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 3%;
}

/* Conteneur d'article individuel */
.article_container {
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 6%;
    margin-right: 5%;
}

.titre-article {
    font-size: 18px;
}

.p-article {
    font-size: 14px;
    padding: 5%;
}

.p-description{
    padding: 8%;
}
.photo-article {
    width: 50%;
}

/* Styles pour le formulaire de modification */
/* .edit-article-form {
  } */

  /* Barre de recherche */

.champ-recherche {
    padding: 10px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
    transition: 1.5s;
}

.champ-recherche:hover {
    transition: 1.5s;
    border: 1px solid #333;

}

.bouton-rechercher {
    background-color: #333;
    color: #a0a0a0;
    padding: 13px 23px;
    transition: 1.5s;
    cursor: pointer;
    border-radius: 15px;
} 
.bouton-rechercher:hover {
    transition: 1.5s;
    background-color: #a0a0a0;
    color: #333;
}

/* Formulaire de tri */
.formulaire-tri {
    text-align: center;
    margin-top: 20px;
}

.etiquette-tri {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.liste-tri {
    padding: 10px;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    width: 300px auto;
    transition: 1.5s;
}

.liste-tri:hover {
    transition: 1.5s;
    border: 1px solid #333;

}

.option-tri {
    padding: 5px;
}

/* Formulaire ajout */
#add_article_container {
    text-align: center;
    margin-top: 20px;
}

.bouton-toggle-ajout-1 {
    padding: 10px 20px;
    background-color: #a0a0a0;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 1.5s;
}

.bouton-toggle-ajout {
    padding: 10px 20px;
    background-color: #a0a0a0;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 1.5s;
}

.bouton-toggle-ajout-1:hover,
.bouton-toggle-ajout:hover {
    background-color: #14b11f;
    color: #fff;
    transition: 1.5s;
}
.formulaire-ajout {
    margin-top: 10px;
    display: none;
    text-align: left;
}

.champ-ajout {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    width: 50%;
    margin-left: 400px;
    transition: 1.5s;
}

.champ-ajout:hover {
    border: 1px solid #333;
    transition: 1.5s;
}

.message-redimension {
    display: none;
    color: green;
    margin-top: 10px;
}
/* Fin Article */

/* Revu */
/* Bouton retour */
.return-button {
    background-color: #a0a0a0;
    color: white;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1.5s;

}

.return-button:hover {
    color: rgb(181, 0, 0);
}

.return-button:active {
    box-shadow: 0px 0px 17px 16px rgba(0,0,0,0.5)
}

/* Article de revu.php */
.details-article {
    text-align: center;
    margin-top: 20px;
}

.titre-article {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.date-publication {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}

.description-article {
    margin-bottom: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.image-article {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.formulaire-suppression {
    margin-top: 20px;
}
/* Fin Revu */

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed; 
    bottom: 0;
    width: 100%;
    
}

footer p {
    margin: 10px 0;
}


/* Fin Footer */

/* Pour téléphones mobiles */
@media (max-width: 480px) {
    th, td {
        text-align: left;
        display: block;
    }

    td img {
        max-width: 100%;
        margin-bottom: 10px;
    }
    tr {

    }
  .cacher{
    display: none;
  }

  footer {
    display: none;
}
}